server:
  port: 8081

spring:
  cloud:
    override-none: true
  application:
    name: item-service
    
eureka:
  client:
    service-url:
      defaultZone: http://eureka1:2001/eureka,http://eureka2:2002/eureka
