spring:
 cloud:
    config:
      override-none: true
 application:
    name: zuul
 rabbitmq:
    host: 192.168.64.140
    port: 5672
    username: admin
    password: admin
    
server:
  port: 3001
  
eureka:
  client:
    service-url:
      defaultZone: http://eureka1:2001/eureka, http://eureka2:2002/eureka

zuul:
  routes:
    item-service: /item-service/**
    order-service: /order-service/**
    user-service: /user-service/**
  retryable: true
  
ribbon:
 ConnectionTimeout: 1000
 ReadTimeout: 1000
 MaxAutoRetries: 1
 MaxAutoRetriesNextServer: 1
 
hystrix:
 command:
   default:
     execution:
       isolation:
         thread:
           timeoutInMilliseconds: 500
turbine:
  app-config: order-service, zuul
  cluster-name-expression: new String("default")        